{% extends 'base2.html' %}

{% block title %}
天天生鲜-提交订单
{% endblock %}

{% block page_name %}
    提交订单
{% endblock %}

{% block content %}
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
            {% for usersite in usersites %}
			<dd><input type="radio" name="usersite_id" value="{{ usersite.id }}"
                       {% if usersite.default_site %}
                           checked
                       {% endif %}
                       >{{ usersite.site }} （{{ usersite.addressee }} 收） {{ usersite.secrecy }}</dd>
            {% endfor %}
		</dl>
		<a href="{% url 'web:user_center_site' %}" class="edit_site">编辑收货地址</a>
	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" value="1" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style" value="2">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style" value="3">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style" value="4">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
        {% csrf_token %}
        {% for order_good in order.order_goods_set.all %}
		<ul class="goods_list_td clearfix"}>
			<li class="col01">{{ forloop.counter }}</li>
			<li class="col02"><img src="/media/{{ order_good.goods.goodsimg }}"></li>
			<li class="col03">{{ order_good.goods.goodsname }}</li>
			<li class="col04">{{ order_good.goods.norms }}</li>
			<li class="col05">{{ order_good.goods.price }}元</li>
			<li class="col06">{{ order_good.goods_num }}</li>
			<li class="col07"  id="goods_price_{{ order_good.id }}">元</li>
		</ul>
        {% endfor %}
    <script>
        $(function () {
            var s = 0
            {% for order_good in order.order_goods_set.all %}
                var d = ({{ order_good.goods.price }} * {{ order_good.goods_num }}).toFixed(2)
                s += parseFloat(d)
                $('#goods_price_{{ order_good.id }}').html(d + '元')
            {% endfor %}
            s = parseFloat(s.toFixed(2))
            $('.total_goods_count b').html(s + '元')
            $('.total_pay b').html(s + 10 + '元')
        })
    </script>
	</div>

	<h3 class="common_title">总金额结算</h3>
	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>{{ order.order_goods_set.all.count }}</em>件商品，总金额<b>元</b></div>
			<div class="transit">运费：<b>10元</b></div>
			<div class="total_pay">实付款：<b>元</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a  onclick="uporder({{ order.id }})">提交订单</a>
	</div>	
{% endblock %}

{% block end %}
	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>
		
		<div class="mask"></div>
	</div>

	<script>
    function uporder(order_id){
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        var usersite_id = $("input[name='usersite_id']:checked").val()
        var pattern_id = $("input[name='pay_style']:checked").val()
        $.ajax({
            url:'/web/uporder/',
            dataType:'json',
            type:'POST',
            data:{
                'order_id': order_id,
                'pattern_id': pattern_id,
                'usersite_id': usersite_id,
            },
            headers:{'X-CSRFToken': csrf},
            success:function (msg) {
                if (msg.code == 200){
                    localStorage.setItem('order_finish', 2)
                $('.popup_con').fadeIn('fast', function() {
			        setTimeout(function(){
				    $('.popup_con').fadeOut('fast',function(){
					location.href = '/web/index/'
				    })
			        },3000)
		        })
                }else if (msg.code == 400){
                    location.href = '/web/user_center_site/'
                }
            }
        })
    }
	</script>
{% endblock %}