{% extends 'base2.html' %}

{% block title %}
天天生鲜-用户中心
{% endblock %}

{% block page_name %}
    用户中心
{% endblock %}

{% block content %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'web:user_center_info' %}" class="active">· 个人信息</a></li>
				<li><a href="{% url 'web:user_center_order' %}">· 全部订单</a></li>
				<li><a href="{% url 'web:user_center_site' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ user.username }}</li>
							<li><span>邮箱：</span>{{ user.email }}</li>
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
                {% for browse in browses %}
				<li>
					<a href="{% url 'web:goods' %}?goods_id={{ browse.goods.id }}"><img src="/media/{{ browse.goods.goodsimg }}"></a>
					<h4><a href="{% url 'web:goods' %}?goods_id={{ browse.goods.id }}">{{ browse.goods.goodsname }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ browse.goods.price }}</span>
						<span class="unit">{{ browse.goods.price }}/{{ browse.goods.norms }}</span>
						<a onclick="upshopping({{ browse.goods.id }})" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>
            <script>
                function upshopping(goods_id) {
                    var csrf = $('input[name="csrfmiddlewaretoken"]').val()
                    $.ajax({
                        url:'/web/upshopping/',
                        type:'POST',
                        dataType:'json',
                        data:{
                            'goods_id': goods_id,
                            'goods_num': 1,
                        },
                        headers:{'X-CSRFToken': csrf},
                    })
                }
            </script>
		</div>
		</div>
	</div>

{% endblock %}