<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        {% block js %}
        {% endblock %}
    <script src="{% static 'web/js/functions.js' %}"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_btn fl">
                    {% if not user.id %}
                    <a href="{% url 'web:login' %}">登录</a>
					<span>|</span>
					<a href="{% url 'web:register' %}">注册</a>
                    {% else %}
                    欢迎您：<em>{{ user.username }}</em>
                    <span>|</span>
					<a href="{% url 'web:logout' %}">注销</a>
                    {% endif %}
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'web:user_center_info' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'web:shopping' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'web:user_center_order' %}">我的订单</a>
				</div>
			</div>
		</div>
	</div>
    <div class="search_bar clearfix">
		<a href="{% url 'web:index' %}" class="logo fl"><img src="{% static 'web/images/logo.png' %}"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索" onclick="hunt()">
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'web:shopping' %}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{ count }}</div>
		</div>
	</div>

    {% block content %}
    {% endblock %}

    <div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2018 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

    {% block end %}
    {% endblock %}
</body>
</html>